@charset "UTF-8";
/* CSS Document */

header { width: 100%;
overflow: auto;
background-color: #FFD169;
font-family: 'Open Sans Condensed', sans-serif;
}

footer {padding:2%;
float:left;
}

h1 { color:#575757;
padding: 5%;
font-family: 'Open Sans Condensed', sans-serif;
}

h2 {font-family: 'Raleway', sans-serif;
 color:#5183A6;
}

h3 {font-family: 'Raleway', sans-serif;
color: #5183A6;
padding-left: 5%;
padding-top: 3%;
padding-bottom: 1%;
}

h4{font-family: 'Raleway', sans-serif;
color: #8FB9C4;
}

h5{font-family: 'Raleway', sans-serif;
color: #575757;
padding-left: 4%;
}

nav {
  list-style-type:none; 
	margin:0; 
  float:left;
  width:100%;
  overflow:auto;
  background-color:#999;
}

nav ul {list-style-type:none; 
	margin:0; 
  padding:0 0 0 3%;
}

nav li {float:left;
  padding: 1%;
}

a {color:#FFD169;
    text-decoration: none;
	}

img{
	align: left;
	float: left;
	margin: 40px 20px;
	height:200px;
	width: 300px;
}

li { list-style-type:none;
}

.content {
font-family: 'Playfair Display', serif;
padding: 10%;
background-color:#F0F0F0
}

.split-container {
	padding: 10%;
	background-color:#F0F0F0
}

.split-column { 
width: 50%;
float: left;
list-style-type:none;
padding-bottom:5%;
}

dl{
	padding-top: 16px;
	padding-bottom: 16px;
}

.clearfix {
	clear: both;
}